.App {  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
}

.App-header {
  font-size: 40px;
  color: white;
}

.App-body {
  display: flex;
  justify-content: space-between;
}